{% extends "base.html" %}
{% block title %}Return Loan{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card border-success">
      <div class="card-body">
        <h2 class="h5 mb-3">Return Loan</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Confirm Return</button>
          <a href="{% url 'circulation:loan-detail' object.pk %}" class="btn btn-link">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
